<h2>修改密碼</h2>
<%= link_to '個人資料', edit_user_registration_path %>

<%= form_for(current_user, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: current_user %>

  <% if devise_mapping.confirmable? && current_user.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= current_user.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :新密碼 %> <i>(若不想更換密碼可空白)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :確認密碼 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :目前密碼 %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新密碼" %>
  </div>
<% end %>

<h3>刪除帳號</h3>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

  

  
