<<<<<<< HEAD
<h2>個人資料</h2>
<%= link_to '修改密碼', change_password_path %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= image_tag resource.image.url if resource.image.url.present? %>
  
  <div class="field">
    <%= f.label :我的頭像 %>
    <%= f.file_field :image, id: :user_image, class: "form-control" %>
  </div>

  <div class="field">
     <%= f.label :姓名 %><br />
     <%= f.text_field :name%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
     <%= f.label :手機號碼 %><br />
     <%= f.telephone_field :phone, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "更新資料" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
=======
<section class="flex justify-center items-center h-screen">
<div class="w-full max-w-sm mx-auto">
  <div class="flex justify-center space-x-4">
    <div class="text-center text-2xl text-gray-500">個人資料</div>
  </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="m-auto">
      <% if resource.image.url.blank? %>
        <%= image_tag "avatar.png" , class:"m-auto rounded-full h-60 w-60" %>
      <% else %>
        <%= image_tag resource.image.url, class:"m-auto rounded-full h-60 w-60" if resource.image.url.present? %>
      <% end %>  
    </div>
    <label>
      <h2 class="text-center bg-gray-800 hover:bg-purple-500 btn-signup">上傳我的頭像</h2>
      <span style="display:none;">
        <%= f.file_field :image, id: :user_image %>
      </span>
    </label>

  <div class="w-full p-6 max-w-sm my-3 bg-white rounded-xl shadow-md flex items-center space-x-4">
    <div>
      <p class="text-gray-500 select-auto"><%= f.label :姓名 %><%= f.text_field :name, autofocus: true %></p>
    </div>
  </div>

  <div class="p-6 max-w-sm my-3 bg-white rounded-xl shadow-md flex items-center space-x-4">
    <div>
      <p class="text-gray-500 select-auto"><%= f.label :email %><%= f.email_field :email, autofocus: true %></p>
    </div>
  </div>

  <div class="p-6 max-w-sm my-3 bg-white rounded-xl shadow-md items-center space-x-4">
    <div>
      <p class="text-gray-500 select-auto"><%= f.label :手機號碼 %><%= f.telephone_field :phone, autofocus: true %></p>
    </div>
  </div>

  <button class="bg-gray-800 hover:bg-purple-500 btn-signup ">
   更新資料
  </button>

<% end %>
</section>
>>>>>>> 601938dd8645ad88191889284507e5dc0c998743
