<section class="flex justify-center pt-44 h-screen">
  <div class="w-full max-w-sm mx-auto">
    <div class='mb-8'><%= image_tag "simplelogo.png" %></div>
    <div class='text-red-500 login_notice'></div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="input-devise rounded-t-lg">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "e-mail", class:'w-full outline-none email' %>
    </div>
    <div class="input-devise">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "password" , class:'w-full outline-none password' %>
    </div>
    <div class="input-devise rounded-b-lg h-10">
      <% if @minimum_password_length %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder:"password confirm" , class:'w-full outline-none confirm' %>
      <% end %><br />
    </div>
    <button class="bg-gray-800 btn">
      <h2 class="text-center font-extrabold "><%= f.submit "註冊" ,class:'bg-transparent' %></h2>
    </button>
  <% end %>
<%= render 'devise/shared/social' %>
</section
