<section class="flex justify-center items-center h-screen">
  <div class="w-full max-w-sm mx-auto">
  <div class="-mt-40"><%= image_tag "logo.png" %></div>
  <h2 class="text-center sans">Hello</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="input-devise rounded-t-lg">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "e-mail" %>
  </div>

  <div class="input-devise">
  <div class="field">
     <%= f.label :name %><br />
     <%= f.text_field :name%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
     <%= f.label :手機號碼 %><br />
     <%= f.telephone_field :phone, autofocus: true %>
  </div>

  <div class="field">
     <%= f.label :生日 %><br />
     <%= f.date_field :birth, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>

    <% if @minimum_password_length %>
    <em><%= @minimum_password_length %></em>
    <%= f.password_field :password, autocomplete: "new-password",placeholder:"characters minimum" %>
    <% end %><br />
  </div>

  <div class="input-devise rounded-b-lg">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "password" %>
  </div>

  <button class="bg-gray-800 btn-login">
    <h2 class="text-center font-extrabold"><%= f.submit "註冊" %></h2>
  </button>
  
<% end %>

<%= render "devise/shared/links" %>
</section>