<div class="overflow-hidden sm:rounded-lg my-20 m-auto mt-40">
  <div class="border-t border-gray-200">
      <%= form_for @shop do |f| %>

        <div class="bg-white py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <div class="block text-sm font-medium text-gray-700">
            <%= f.label :name, '賣場名稱' %>
          </div>
          <div class="mt-1 text-sm text-gray-900 border-b border-text-200 sm:mt-0 sm:col-span-2">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="bg-white py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <div class="block text-sm font-medium text-gray-700">
            <%= f.label :tel, '聯絡電話' %>
          </div>
          <div class="mt-1 text-sm text-gray-900 border-b border-text-200  sm:mt-0 sm:col-span-2">
            <%= f.text_field :tel %>
          </div>
        </div>

        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
          <%= f.submit '資訊更新', class:'text-white text-sm p-2 rounded bg-gray-500 hover:bg-gray-900' %>
        </div>

      <% end %>
  </div>
</div>