<h3>商品列表</h3>
<%= link_to '新增商品', new_shop_product_path(current_user.shop) %>

      <tbody>
        <% @products.each do |product|%>
          <tr class='border-b-2 border-fuchsia-600 h-24'>
              <td class='flex justify-center items-center w-full h-24'>
                <% if product.image_url.present? %>
                  <div class='w-20 h-20'><%= image_tag product.image_url, style:'width:100%;height:100%;object-fit:cover' %></div>
                <% end %>
              </td>
              <td class='w-1/6'><%= product.name %></td>
              <td class='w-1/6'><%= product.content %></td>
              <td class='w-1/6'><%= product.quantity %></td>
              <td class='w-1/6'><%= product.price %></td>
              <td class='w-1/12'><%= link_to "編輯", edit_product_path(product) ,class:'primary-button text-xs' %></td>
              <td class='w-1/12'><%= link_to "刪除", product_path(product), method: "delete", data: {confirm: "確定刪除嗎？"} ,class:'primary-button text-xs' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>

  <tbody>
    <% @products.each do |product|%>
    <tr>
      <td><%= image_tag product.image.url.to_s %></td>
      <td><%= product.name %></td>
      <td><%= product.content %></td>
      <td><%= product.quantity %></td>
      <td><%= product.price %></td>
      <td><%= link_to "編輯商品", edit_product_path(product) %></td>
      <td><%= link_to "刪除商品", product_path(product), method: "delete", data: {confirm: "確定刪除嗎？"}  %></td>
    <tr>
    <% end %>
  </tbody>
</table>

<h3>Coupon列表</h3>
<%= link_to '新增Coupon', new_coupon_path %>
<%= link_to '檢視Coupon', list_coupons_path %>
