<div class='flex w-full items-center flex-col space-y-2 pt-10'>
<%# 選項列 %>
  <div class='w-4/5 flex justify-between text-gray-500'>
    <div class=' w-3/5 input-store'>
      <select class='w-2/5 bg-transparent outline-none'>
          <option>商品名稱</option>
          <option>商品貨號</option>
          <option>主商品貨號</option>
          <option>商品選項貨號</option>
          <option>規格</option>
          <option>商品ID</option>
      </select>
      <input type="text" class='bg-transparent outline-none'>
    </div>
    <div>
      <span>類別</span>
      <input type="text" class='input-store'>
    </div>
  </div>
  <div class='w-4/5 flex text-gray-500'>
    <div class='w-3/5 flex items-center text-gray-500'>
      <span>商品數量</span><input type="number" class='flex-grow input-store'>&#8722;<input type="number" class='flex-grow input-store'>
    </div>
    <div class='w-2/5 flex justify-end items-center text-gray-500'>
      <span>已售出</span><input type="number" class='w-2/6 input-store'>&#8722;<input type="number"  class='w-2/6 input-store'>
    </div>
  </div>
  <%# 商品顯示 %>
  <div class='h-120 bg-gray-50 w-10/12 rounded-sm overflow-hidden border-1 shadow mt-20 ml-5 '>
    <table class='w-full text-center border-collapse' >
      <thead class='bg-gray-100 text-gray-500'>
        <tr>
            <td>商品圖片</td>
            <td>商品名稱</td>
            <td>商品描述</td>
            <td>商品數量</td>
            <td>商品價格</td>
            <td colspan='2'>商品設定</td>
        <tr>
      </thead>

      <tbody>
        <% @products.each do |product|%>
          <tr class='border-b-2 border-fuchsia-600 h-24'>
              <td class='flex justify-center items-center w-full h-24'>
                <% if product.image_url.present? %>
                  <div class='w-20 h-20'><%= image_tag product.image_url, style:'width:100%;height:100%;object-fit:cover' %></div>
                <% end %>
              </td>
              <td class='w-1/6'><%= product.name %></td>
              <td class='w-1/6'><%= product.content %></td>
              <td class='w-1/6'><%= product.quantity %></td>
              <td class='w-1/6'><%= product.price %></td>
              <td class='w-1/12'><%= link_to "編輯", edit_product_path(product) ,class:'primary-button text-xs' %></td>
              <td class='w-1/12'><%= link_to "刪除", product_path(product), method: "delete", data: {confirm: "確定刪除嗎？"} ,class:'primary-button text-xs' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>



