<div class='sm:rounded-lg my-20 m-auto mt-24'>
  <div class='border-t border-gray-200'>

  <%= form_with(model: coupon) do |form| %>

    <div class='bg-white py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
      <div class='block text-sm font-medium text-gray-700'>
        <%= form.label :title, "優惠卷名稱" %>
      </div>
      <div class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
        <%= form.text_field :title, class:'border-b border-text-200'%>
      </div>
    </div>

    <div class='bg-white py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
      <div class='block text-sm font-medium text-gray-700'>
        <%= form.label :discount_rules, "優惠方式" %>
      </div>
      <div class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
        <select name="coupon[discount_rule]" class="form-control p-2">
        <%= options_for_select(Coupon.discount_rules.keys, Coupon.discount_rules.keys[2]) %>
      </select>
      </div>
    </div>

    <div class='bg-white py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
      <div class='block text-sm font-medium text-gray-700'>
        <%= form.label :discount_amount, "優惠價格" %>
      </div>
      <div class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
        <%= form.text_field :discount_amount, class:'border-b border-text-200' %>
      </div>
    </div>

    <div class='bg-white py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
      <div class='block text-sm font-medium text-gray-700'>
        <%= form.label :min_consumption, "最低消費金額" %>
      </div>
      <div class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
        <%= form.text_field :min_consumption, class:'border-b border-text-200' %>
      </div>
    </div>

    <div class='bg-white py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
      <div class='block text-sm font-medium text-gray-700'>
        <%= form.label :schedule_end, "優惠開始時間" %>
      </div>
      <div class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
        <input type="datetime-local" name="coupon[discount_start]" class="datetimepicker_start border-b border-text-200" value=
        <%= @coupon.discount_start.nil? ? '' : @coupon.discount_start.strftime("%Y/%m/%d")%> >
        <i class="fa fa-calendar"></i>
      </div>
    </div>

    <div class='bg-white py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
      <div class='block text-sm font-medium text-gray-700'>
        <%= form.label :schedule_end, "優惠結束時間" %>
      </div>
      <div class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
        <input type="datetime-local" name="coupon[discount_end]" class="datetimepicker_end border-b border-text-200" value=<%= @coupon.discount_end.nil? ? '' : @coupon.discount_end.strftime("%Y/%m/%d")%> >
        <i class="fa fa-calendar"></i>
      </div>
    </div>

    <div class='bg-white py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
      <div class='block text-sm font-medium text-gray-700'>
        <%= form.label :amount, "優惠卷發行數量" %>
      </div>
      <div class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
        <%= form.text_field :amount, class:'border-b border-text-200' %>
      </div>
    </div>

    <div class='px-4 py-3 bg-gray-50 text-right sm:px-6'>
      <%= form.submit '新增優惠卷', class:'text-white text-sm p-2 rounded bg-gray-500 hover:bg-gray-900' %>
    </div>

  <% end %>
  </div>
</div>
