<%= form_with(model: coupon) do |form| %>

  <div class="form-group">
    <%= form.label :title, "優惠卷名稱" %>
    <%= form.text_field :title %>  
  </div>

  <div class="form-group">
    <%= form.label :discount_rules, "優惠方式" %>
    <select name="coupon[discount_rule]" class="form-control">
      <%= options_for_select(Coupon.discount_rules.keys, Coupon.discount_rules.keys[2]) %>
    </select>  
  </div>

  <div class="form-group">
    <%= form.label :discount_amount, "優惠價格" %>
    <%= form.text_field :discount_amount %>  
  </div>

  <div class="form-group">
    <%= form.label :min_consumption, "最低消費" %>
    <%= form.text_field :min_consumption %>  
  </div>

  <div class="form-group">
    <%= form.label :discount_start, "優惠開始" %>
    <div class="input-group date" id="discount_start" data-target-input="nearest">
      <input type="text" class="form-control datetimepicker-input" data-target="#discount_start" name="coupon[discount_start]" value=<%= coupon.discount_start.nil? ? '' : coupon.discount_start.strftime("%Y/%m/%d") %>/>
      <div class="input-group-append" data-target="#discount_start" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :discount_end, "優惠結束" %>
    <div class="input-group date" id="discount_end" data-target-input="nearest">
      <input type="text" class="form-control datetimepicker-input" data-target="#discount_end" name="coupon[discount_end]" value=<%= coupon.discount_end.nil? ? '' : coupon.discount_end.strftime("%Y/%m/%d")  %>/>
      <div class="input-group-append" data-target="#discount_end" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :amount, "優惠卷發行數量" %>
    <%= form.text_field :amount %>  
  </div>

  <div class="actions">
    <%= form.submit "新增優惠卷" %>
  </div>
  
<% end %>