<h2>Coupons</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>優惠卷名稱</th>
      <th>優惠方式</th>
      <th>優惠價格</th>
      <th>最低消費</th>
      <th>優惠開始</th>
      <th>優惠結束</th>
      <th>發行數量</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @coupons.each do |coupon| %>
      <tr>
        <td><%= coupon.title %></td>
        <td><%= coupon.discount_rule %></td>
        <td><%= coupon.discount_amount %></td>
        <td><%= coupon.min_consumption %></td>
        <td><%= coupon_TimeWithZone_convert(coupon.discount_start) %></td>
        <td><%= coupon_TimeWithZone_convert(coupon.discount_end) %></td>
        <td><%= coupon.amount %></td>
        <td><%= link_to '編輯', edit_coupon_path(coupon) %></td>
        <td><%= link_to '真刪除', coupon_path(coupon), method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>

