<p>
  <strong>優惠卷名稱</strong>
  <%= @coupon.title %>
</p>

<p>
  <strong>優惠方式</strong>
  <%= @coupon.discount_rules %>
</p>

<p>
  <strong>優惠價格</strong>
  <%= @coupon.discount_amount %>
</p>

<p>
  <strong>最低消費</strong>
  <%= @coupon.min_consumption %>
</p>

<p>
  <strong>優惠開始</strong>
  <%= @coupon.discount_start %>
</p>

<p>
  <strong>優惠結束</strong>
  <%= @coupon.discount_end %>
</p>

<p>
  <strong>發行數量</strong>
  <%= @coupon.amount %>
</p>


