<p>
  <strong>優惠卷名稱</strong>
  <%= @coupon.title %>
</p>

<p>
  <strong>優惠方式</strong>
  <%= @coupon.discount_rules %>
</p>

<p>
  <strong>優惠價格</strong>
  <%= @coupon.discount_amount %>
</p>

<p>
  <strong>最低消費</strong>
  <%= @coupon.min_consumption %>
</p>

<p>
  <strong>優惠開始</strong>
  <%= Datetime.strptime(@coupon.discount_start, "%Y-%m-%d %H:%M:%S %Z").strftime("%Y/%m/%d") %>
</p>

<p>
  <strong>優惠結束</strong>
  <%= DateTime.strptime('02-09-2007 12:30:44 EST', date_and_time).to_s %>
</p>

<p>
  <strong>發行數量</strong>
  <%= @coupon.amount %>
</p>

<p>
  <strong>領取數量</strong>
  <%= @coupon.counter_catch %>
</p>
