<section class="cards">
    <div class="content max-auto">
      <% @products.each do |product|%>
        <div>
          <div class="cardstyle">
            <%= link_to product_path(product) do %>
            <div>
              <% if product.image_url.present? %>
                <div class="picture"><%= image_tag product.image_url %></div>
              <% else %>
                <div class="picture dark"><%= image_tag 'bag.png' %></div>
              <% end %>
            </div>
            <div class='item'>
              <%= product.name %>
              <div>
                <div>$<%= product.price %></div>
                <div>已售出<span>10</span></div>
              </div>
            </div>
          </div>
        <% end %>
          <div class='relative'>
            <%= form_tag search_path, method: :get do %> 
              <% submit_tag product.name, name: :search, class:'block relative w-full z-50 opacity-0' %>
            <% end %>
            <div class='absolute top-0 botton-0 w-full z-0 text-center'>
              找相似 
            </div>
          </div>
        
        </div>
      <% end %>
    </div>
</section>