<section class="cards">
    <div class="content max-auto">
      <% @products.each do |product|%>
        <div class='onecard'>
          <div class="cardstyle">
            <%= link_to product_path(product) do %>
            <div>
              <% if product.image_url.present? %>
                <div class="picture"><%= image_tag product.image_url %></div>
              <% else %>
                <div class="picture dark"><%= image_tag 'bag.png' %></div>
              <% end %>
            </div>
            <div class='item'>
              <%= product.name %>
              <div>
                <div>$<%= product.price %></div>
                <div>已售出<span>10</span></div>
              </div>
            </div>
          </div>
        <% end %>
          <%= form_tag({ controller: "products", action: "search" }, method: "get", class: "z-1") %>
          <%= submit_tag '找相似',class:'searchsame opacity-0' %>
          <%= text_field_tag 'search', product.name, class:'opacity-0' %>
        </div>
      <% end %>
    </div>
</section>
