<nav class='flex w-full items-center bg-gray-800 px-2 lg:px-10 text-white flex-wrap'>
  <div>
    <%= link_to root_path do %>
      <%= image_tag "logo.png" , class:'w-20 lg:w-32' %>
    <% end %>
  </div>

  <div class='lg:px-20 flex-grow mx-12 w-1/5 sm:3/5 '>
    <%= form_tag products_path, method: :get do %>
      <div class="relative  text-black bg-white rounded-full">
        <span class="absolute inset-y-0 right-0 flex items-center pl-4 bg-pink-400 p-2 rounded-full m-1 text-white w-10">
          <%= button_tag(type: "submit", class: "absolute right-3 focus:outline-none") do %>
            <i class="fas fa-search"></i>
          <% end %>
        </span>
        <%= text_field_tag :search, params[:search], placeholder: "搜尋商品",class:'text-lg	rounded-full w-full px-4 py-2 text-black' %>
      </div>
    <% end %>
  </div>

  <button class='hidden'>
    <i class="fas fa-bars"></i>
  </button>
  <div>
    <div class='inline-flex py-5 space-x-4 w-full'>
      <!-- <div><%= link_to '首頁', root_path %></div> -->
        <% if user_signed_in? %>
        <div class='hover:bg-gray-900'><%= link_to '登出' ,  destroy_user_session_path , method: 'delete' %></div>
          <%= link_to carts_path do %>
            <i class="fas fa-cart-plus"></i></i>(<%= current_cart.items.count %>) / <%= current_cart.total_price %>
          <% end %>
        <% if current_user.shop.blank? %>
          <div><%= link_to '我要開店', new_shop_path %></div>
        <% else %>
          <div><%= link_to '賣家中心', shops_path %></div>
        <% end %>
      <% else %>
        <div class='hover:text-pink-300'><%= link_to '註冊', new_user_registration_path %></div>
        <div class='hover:text-pink-300'><%= link_to '登入',  new_user_session_path  %></div>
      <% end %>
    </div>
  </div>
</nav>
    
<script>
  document.querySelector('.fas').addEventListener('click',(e)=>{
    console.log("hello")
  })
</script>
