<div class="h-screen flex pt-16">
  <div class=" bg-gray-50 flex items-center flex-col shadow pt-10 px-20">
    <div class="border-b-2 border-pink-400 "><%= link_to '賣家中心', shops_path %></div>
    <div class="pt-4"><%= link_to '商品列表', shops_path %></div>
    <%= link_to '新增商品', new_shop_product_path(current_user.shop) %>
    <%= link_to '新增Coupon', new_coupon_path %>
    <%= link_to '檢視Coupon', list_coupons_path %>
</div>
