<div class='flex flex-grow items-center flex-col space-y-4 pb-10 pt-36'>
  <div class='h-5/6 bg-gray-50 w-10/12 rounded-sm overflow-auto border-1 shadow'>

    <table class="w-full text-center border-collapse">
      <thead class="bg-gray-100 text-gray-500">
        <tr>
          <th>商品詳情</th>
          <th></th>
          <th>數量</th>
          <th>單價</th>
          <th></th>
        <tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
        <tr class='border-b-2 border-fuchsia-600 h-20'>
          <td class='w-1/5'><%= image_tag product.image.to_s %></td>
          <td class='w-1/5'><%= product.name %></td>
          <td class='w-1/5'><%= product.quantity %></td>
          <td class='w-1/5'><%= 'NT '+ product.price.to_s %></td>
          <td class='w-1/5'><%= link_to '回上頁', orders_path, class:'primary-button text-xs' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>