<section class="classification">
  <div class="bg-white w-full h-full shadow">
    <div class="p-4 text-lg text-gray-400">分類</div>
    <div class="grid grid-cols-10 gap-0.5 bg-gray-50 pt-0.5">
      <div>
        <%= form_tag products_path, method: :get do %> 
          <%= submit_tag "hello", name: :search ,class:'h-36 w-full bg-white' %>
        <% end %>
      </div>
      <div>
        <%= form_tag products_path, method: :get do %> 
          <%= submit_tag "hello", name: :search ,class:'h-36 w-full bg-white' %>
        <% end %>
      </div>
      <div>
        <%= form_tag products_path, method: :get do %> 
          <%= submit_tag "hello", name: :search ,class:'h-36 w-full bg-white' %>
        <% end %>
      </div>
      <div>
        <%= form_tag products_path, method: :get do %> 
          <%= submit_tag "hello", name: :search ,class:'h-36 w-full bg-white' %>
        <% end %>
      </div>
      <div>
        <%= form_tag products_path, method: :get do %> 
          <%= submit_tag "hello", name: :search ,class:'h-36 w-full bg-white' %>
        <% end %>
      </div>
      <div>
        <%= form_tag products_path, method: :get do %> 
          <%= submit_tag "hello", name: :search ,class:'h-36 w-full bg-white' %>
        <% end %>
      </div>
      <div>
        <%= form_tag products_path, method: :get do %> 
          <%= submit_tag "hello", name: :search ,class:'h-36 w-full bg-white' %>
        <% end %>
      </div>
      <div>
        <%= form_tag products_path, method: :get do %> 
          <%= submit_tag "hello", name: :search ,class:'h-36 w-full bg-white' %>
        <% end %>
      </div>
      <div>
        <%= form_tag products_path, method: :get do %> 
          <%= submit_tag "hello", name: :search ,class:'h-36 w-full bg-white' %>
        <% end %>
      </div>
      <div>
        <%= form_tag products_path, method: :get do %> 
          <%= submit_tag "hello", name: :search ,class:'h-36 w-full bg-white' %>
        <% end %>
      </div>
    </div>
  </div>
</section>