<div class="px-10 flex pt-10 ">
  <div class="w-3/5">
    <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><%= image_tag '3_-_Mz1EbnX.png'%></div>
      <div class="swiper-slide"><%= image_tag '5_-_1rjxcBs.png'%></div>
      <div class="swiper-slide"><%= image_tag '1_-_YK3rLhP.png'%></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  </div>
  <div class="w-2/5 flex-col flex swiper-col">
    <div class='w-full overflow:hidden pb-0.5' style='height:150px'>
      <%= image_tag '6_-_X3pL5Xw.png'%>
    </div>
    <div class='w-full overflow:hidden pb-0.5' style='height:150px'>
      <%= image_tag '2_-_2sIHNm6.png'%>
    </div>
  </div>
</div>