<div class="pt-20">
  <header class="bg-pink-300 flex justify-center items-center" style="height:300px">
  <span class="text-6xl	bg-clip-text text-transparent bg-gradient-to-r from-green-200 to-purple-300 font-extrabold">
    jumbotron
  </span>
  </header>

  <section class="py-5 flex justify-center items-center">
    <div class="container max-auto max-w-screen-x bg-red-100">
        <div class="flex flex-wrap">
          <div class="w-4/12 md:w-2/12 p-2">
            <div class="bg-pink-200" style="height:100px"></div>
          </div>
          <div class="w-4/12 md:w-2/12 p-2">
            <div class="bg-pink-200" style="height:100px"></div>
          </div>
          <div class="w-4/12 md:w-2/12 p-2">
            <div class="bg-pink-200" style="height:100px"></div>
          </div>
          <div class="w-4/12 md:w-2/12 p-2">
            <div class="bg-pink-200" style="height:100px"></div>
          </div>
          <div class="w-4/12 md:w-2/12 p-2">
            <div class="bg-pink-200" style="height:100px"></div>
          </div>
          <div class="w-4/12 md:w-2/12 p-2">
            <div class="bg-pink-200" style="height:100px"></div>
          </div>
        </div>
    </div>
  </section>
 

 

  <section class="py-5 flex justify-center items-center">
  <div class="container max-auto max-w-screen-x flex flex-wrap">
    <% @products.each do |product|%>
        <div class="w-6/12 sm:w-4/12 md:w-2/12 p-0.5">
          <div class="bg-gray-100 h-96 rounded-sm p-0.5">
            <%= link_to product_path(product) do %>

            <div class='w-full'>
              <% if product.image_url.present? %>
                <div style='width:100%;padding-top:100%;position:relative'><%= image_tag product.image_url,style:'width:100%;height:100%;object-fit:cover;position:absolute;top:0;left:0' %></div>
              <% end %>
            </div>
              
            <div class='flex h-28 content-between flex-wrap'>
              <div class='w-full'><%= product.name %></div>
              <div class='flex justify-between w-full'>
                <div>$<%= product.price %></div>
                <div>已售出<span>10</span></div>
              </div>
            </div>
          </div>
        <% end %> 
        </div>
    <% end %>
  </div>
  </section>


  




  

  </section>
  
  <!-- <div class="wrap">
  <div class="rows">
    <% @products.each do |product|%>
      <%= link_to product_path(product) do %>
        <div class="item">
          <div class="img"><%= image_tag product.image_url if product.image_url.present? %></div>
          <div class="content">
            <div class="title"><%= product.name %></div>
            <div class="price">$<%= product.price %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  </div> -->
</div>