<table>
  <thead>
    <tr>
      <td>商品名稱</td>
      <td></td>
      <td>數量</td>
      <td>單價</td>
      <td>小計</td>
      <td>處理</td>
    </tr>
  </thead>
  <tbody>
    <% cart.items.each do |item| %>
      <tr class="content" data-controller="addtocart" data-addtocart-id="<%= item.product.id %>" data-addtocart-number-value=<%= item.quantity %> data-addtocart-totaprice-value= 0 >
          <td><img src="https://picsum.photos/100/100/?random=1"></td>
          <td><%= item.product.name %></td>
            <td>
              <div class="amount">
                <button class="minus" data-action="click->addtocart#minusbtn">-</button>
                <input type="text" class="input_amount" data-addtocart-target="amount" data-action="input->addtocart#changequantity">
                <button class="plus" data-action="click->addtocart#plusbtn">+</button>
              </div>
            </td>
            <td data-addtocart-target="price"><%= item.product.price %></td>
            <td data-addtocart-target="totalprice" class="item_total_price"></td>
            <td>
              <%= link_to '取消', carts_path(item: item.product.id), method: 'delete', data: { confirm: '確認刪除'}%>
            </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">總價</td>
      <td class="cart_total"><%= cart.total_price %></td>
    </tr>
  </tfoot>
</table>
