<style>
  .input_amount[type="number"]::-webkit-inner-spin-button,
  .input_amount[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.coupon {
    border: 1px solid ;
    padding: 5px;
    display: flex;
  }

.occupy {
  background-color: grey;
  pointer-events: none
}

</style>
<table>
  <thead>
    <tr>
      <td>商品圖片</td>
      <td>商品名稱</td>
      <td>商品描述</td>
      <td>商店名稱</td>
      <td>數量</td>
      <td>單價</td>
      <td>小計</td>
      <td>處理</td>
    </tr>
  </thead>
  <% items = (cart.items.sort_by {|item| Product(id: item.product_id).shop.id })%>
  <% items.each do |item| %>
    <tbody data-controller="updatecart" data-updatecart-id="<%= item.product.id %>" data-updatecart-number-value="<%= item.quantity %>" data-updatecart-totaprice-value="0">
      <tr>
        <td><%= link_to product_path(item.product) do %><%= image_tag item.product.image_url if item.product.image_url.present? %><% end %></td>
        <td><%= item.product.name %></td>
        <td><%= item.product.content %></td>
        <td><%= item.product.shop.name %></td>
        <td><%= item.quantity %></td>
        <td><%= item.product.price %></td>
        <td><%= item.total_price %></td>
        <td>
          <div class="amount">
            <button class="minus" data-action="click->updatecart#minusbtn">-</button>
            <input type="number" class="input_amount" data-updatecart-target="amount" data-action="input->updatecart#changequantity">
            <button class="plus" data-action="click->updatecart#plusbtn">+</button>
          </div>
        </td>
        <td data-updatecart-target="price"><%= item.product.price %></td>
        <td data-updatecart-target="totalprice" class="item_total_price" data-shopid="<%= item.product.shop_id %>"></td>
        <td>
          <a href='#' data-action="click->updatecart#destroy">取消</a>
        </td>
      </tr>
      <tr>
        <td colspan="8"> 
          <% Coupon.where(shop_id: item.product.shop_id).pluck(:title, :id).each do |title, coupon_id| %>
              <a data-action="click->updatecart#getcoupon" data-couponid="<%= coupon_id %>" class=" <%= UserCoupon.where(coupon_id: coupon_id, user_id: current_user) ? 'occupy' : '' %>">
                <%= title %>
              </a>     
              <span data-couponid="<%= coupon_id %>" data-itemid="<%= item.product.id %>" data-action="click->updatecart#usecoupon">使用</span>       
          <% end %>
        </td>
      </tr>
    </div>
  <% end %>

  <tfoot>
    <tr>
      <td colspan="3">總價</td>
      <td class="cart_total"><%= cart.total_price %></td>
    </tr>
  </tfoot>
</table>
