<style>
  .input_amount[type="number"]::-webkit-inner-spin-button,
  .input_amount[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.coupon {
    border: 1px solid ;
    padding: 5px;
    display: flex;
  }

.occupy {
  background-color: grey;
  pointer-events: none
}

</style>
<table>
  <thead>
    <tr>
      <td>商品名稱</td>
      <td>商店名稱</td>
      <td></td>
      <td>數量</td>
      <td>單價</td>
      <td>小計</td>
      <td>處理</td>
      <td>總計</td>
    </tr>
  </thead>
  <% items = (cart.items.sort_by {|item| item.product.shop_id})%>
  <% temp = items.group_by { |item| item.product.shop_id.itself} %>
  <% temp.values.each do |items|%>
    <% items.each do |item| %>
      <tbody data-controller="updatecart" data-updatecart-id="<%= item.product.id %>" data-updatecart-number-value="<%= item.quantity %>" data-updatecart-totalprice-value="0" >
        <tr>
          <td><img src="https://picsum.photos/100/100/?random=1"></td>
          <td><%= item.product.name %></td>
          <td><%= item.product.shop.name %></td>
          <td>
            <div class="amount">
              <button class="minus" data-action="click->updatecart#minusbtn">-</button>
              <input type="number" class="input_amount" data-updatecart-target="amount" data-action="input->updatecart#changequantity">
              <button class="plus" data-action="click->updatecart#plusbtn">+</button>
            </div>
          </td>
          <td data-updatecart-target="price"><%= item.product.price %></td>
          <td data-updatecart-target="totalprice" class="item_total_price" data-shopid="<%= item.product.shop_id %>"></td>
          <td>
            <a href='#' data-action="click->updatecart#destroy">取消</a>
          </td>
        </tr>
      <tbody>
    <% end %>
    <tr><span>總金額</span></tr>
  <% end %>
  <tfoot>
    <tr>
      <td colspan="3">總價</td>
      <td class="cart_total"><%= cart.total_price %></td>
    </tr>
  </tfoot>
</table>
