<style>
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .row {
    display: flex;

  }

  .coupon {
    border: 1px solid ;
    padding: 5px;
    display: flex;
  }

.occupy {
  background-color: grey;
  pointer-events: none
}
.wrap {
  padding-top: 100px;
}
</style>
<div class="wrap flex justify-center flex-col">

<% items = (cart.items.sort_by {|item| item.product.shop_id})%>
  <% temp = items.group_by { |item| item.product.shop_id.itself} %>
    <% temp.values.each do |items|%>
    <div data-controller="shoptotal" data-shoptotal-id="<%= items[0].shop_id %>">
      <% items.each do |item| %>
        <div class="row flex items-center" data-controller="updatecart" data-updatecart-id
        ="<%= item.product.id %>" data-updatecart-number-value="<%= item.quantity %>" data-updatecart-totalprice-value="0">
          <div class='h-36 w-36'>
            <%= link_to product_path(item.product) do %><%= image_tag item.product.image_url if item.product.image_url.present? %><% end %>
          </div>
          <div class="flex flex-col">
          <!-- 商品店名 -->
          <div class='flex flex-row p-2'>
            <div class='bg-red-200'>
              <%= item.product.name %>
            </div>
            <div class='bg-red-300'>
              <%= item.product.shop.name %>
            </div>
          </div>
          <!-- 數量 -->
          <div>
            <div class="amount">
              <button class="minu" data-action="click->updatecart#minusbtn">-</button>
              <input type="number" class="input_amount" data-updatecart-target="amount" data-action="input->updatecart#changequantity">
              <button class="plus" data-action="click->updatecart#plusbtn">+</button>  
            </div>
          </div>
          <!-- 價錢 -->
          <div data-updatecart-target="price">
            <%= item.product.price %>
          </div>
          <div class="item_total_price" data-updatecart-target="totalprice" data-shopid="<%= item.product.shop_id %>">
            <%= item.total_price %>
          </div>
        </div>
          <div>
            <a href="#" data-action="click->updatecart#destroy">取消</a>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div>
          總金額 : 
          <span data-shoptotal-target="shoptotal" data-shopid="<%= items.first.product.shop_id %>">
          <%= current_cart.subtotals.filter {|subtotal, shopid| shopid == items.first.shop_id}[0][0] %> 
          </span>
        </div>
      </div>
      <div>
        <% Coupon.where(shop_id: items[0].product.shop_id).pluck(:title, :id).each do |title, coupon_id| %>
          <div class="row">
            <span data-action="click->shoptotal#getcoupon" data-couponid="<%= coupon_id %>" class="<%= user_own_coupon?(coupon_id) ? 'occupy' : '' %>">
              <%= title %>
            </span>
            <% if user_use_coupon?(coupon_id) %>
              <div data-couponid="<%= coupon_id %>" data-shopid="<%= items[0].product.shop_id %>" data-action="click->shoptotal#usecoupon" class="occupy">
              使用中
              </div>
            <% else %>
              <div data-couponid="<%= coupon_id %>" data-shopid="<%= items[0].product.shop_id %>" data-action="click->shoptotal#usecoupon">
              未使用
              </div>
            <% end %>
            <a data-action="click->shoptotal#unusecoupon">
              Ｘ
            </a>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div>總價</div>
    <div class="cart_total">
      <span><%= cart.total %></span>
    </div>
  </div>
</div>




