<h1>結帳</h1>
<%= render 'cart', cart: current_cart %>

<form id="cart-form" action='https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5' method="post">
  <%= hidden_field_tag :MerchantID, @hash['MerchantID'] %>
  <%= hidden_field_tag :MerchantTradeNo, @hash['MerchantTradeNo'] %>
  <%= hidden_field_tag :MerchantTradeDate, @hash['MerchantTradeDate'] %>
  <%= hidden_field_tag :PaymentType, @hash['PaymentType'] %>
  <%= hidden_field_tag :TotalAmount, @hash['TotalAmount'] %>
  <%= hidden_field_tag :TradeDesc, @hash['TradeDesc'] %>
  <%= hidden_field_tag :ItemName, @hash['ItemName'] %>
  <%= hidden_field_tag :ReturnURL, @hash['ReturnURL'] %>
  <%= hidden_field_tag :ClientBackURL, @hash['ClientBackURL'] %>
  <%= hidden_field_tag :ChoosePayment, @hash['ChoosePayment'] %>
  <%= hidden_field_tag :EncryptType, @hash['EncryptType'] %>
  <%= hidden_field_tag :CheckMacValue, @shavalue %>
</form>

<button id="btn">付款</button>

<%= link_to '回上頁', carts_path %>

<script>
(function() {
  document.getElementById('btn').addEventListener('click', function() {
    document.getElementById('cart-form').submit();
  })
})();
</script>