<div class = "message_box px-4" data-room= "<%= @room.id %>" data-user="<%= current_user.id %>">
  <div><%= @room.with(current_user).name %></div>
  <div class="container">
        <div class="message_area">
          <%= render @messages %>
        </div>
        <div class="input w-full">
          <%= form_for @message ,remote: true, html:{class:'flex space-x-4 mx-2 '} ,url: room_messages_path(@room) do |form|%>
            <%= form.text_field :content ,class:'w-3/5 justify-self-end' %>
            <%= form.submit 'ç™¼é€', class:'w-2/5 justify-self-end' %>
          <% end %>
        </div>
  </div>
</div>