<div class = "message_box px-4" data-room= "<%= @room.id %>" data-user="<%= current_user.id %>">
  <div class='chatwith'>
    <% if @room.with(current_user).shop.present? %>
      <%= @room.with(current_user).shop.name %>
    <% else %>
      <%= @room.with(current_user).email %>
    <% end %>
  </div>
  <div class="chatcontainer">
        <div class="message_area">
          <%= render @messages %>
        </div>
        <div class="input">
          <%= form_for @message ,remote: true, html:{class:'h-full flex'} ,url: room_messages_path(@room) do |form|%>
            <%= form.text_field :content ,class:' ctext',placeholder: 'æ‰“å­—' %>
            <%= form.submit 'ç™¼é€', class:'csubmit' %>
          <% end %>
        </div>
  </div>
</div>