<h1>編輯商品</h1>

<%= form_for @product, url: {action: "update"} do |f| %>
  <%= f.label :image, "商品首圖" %>
  <%= f.file_field :image, id: :product_image, class: "form-control" %><br/>
  <%= f.label :images, "更多商品圖片" %>
  <%= f.file_field :images, multiple:true, :class => "form-control" %><br/>
  <%= f.label :name, "商品名稱" %>
  <%= f.text_field :name %><br/>
  <%= f.label :content, "商品描述" %>
  <%= f.text_field :content %><br/>
  <%= f.label :quantity, "商品數量" %>
  <%= f.text_field :quantity %><br/>
  <%= f.label :price, "商品價格" %>
  <%= f.text_field :price %><br/>
  <div>
    <%= f.label :schedule_start, "商品上架時間" %>
    <%= f.datetime_select :schedule_start %>
  </div>
  <div>
    <%= f.label :schedule_end, "商品下架時間" %>
    <%= f.datetime_select :schedule_end %>
  </div>
  <%= f.submit "更新商品" %>
<% end %>

<%= link_to '回上頁', shops_path %>