<div class="home">
 <section class="card h-screen">
    <div class="content max-auto">
      <% @product.each do |product|%>
        <div class="w-6/12 md:w-4/12 lg:w-2/12 p-0.5">
          <div class="cardstyle">
            <%= link_to product_path(product) do %>
            <div class='w-full'>
              <% if product.image_url.present? %>
                <div class="picture"><%= image_tag product.image_url %></div>
                <% else %>
                <div class="picture dark"><%= image_tag 'bag.png' %></div>
              <% end %>
            </div>
            <div class='item'>
              <%= product.name %>
              <div>
                <div>$<%= product.price %></div>
                <div>已售出<span>10</span></div>
              </div>
            </div>
          </div>
        <% end %> 
        </div>
      <% end %>
    </div>
  </section>
</div>