<div class='w-full flex justify-center text-gray-500 pt-20'>
  <div class='w-3/5  h-4/5 border shadow rounded-sm p-5 bg-gray-100'>
    <%= form_for @product, url: {action: "create"} do |f| %>
      <div class="form-group p-2">
        <%= f.label :image, "商品首圖" %>
        <%= f.file_field :image, id: :product_image, class: "form-control " %>
      </div>

      <div class="form-group p-2">
        <%= f.label :images, "更多商品圖片" %>
        <%= f.file_field :images, multiple:true, class: "form-control" %>
      </div>

      <div class="form-group p-2">
        <%= f.label :name, "商品名稱" %>
        <%= f.text_field :name %>
      </div>

      <div class="form-group p-2">
        <%= f.label :content, "商品描述" %>
        <%= f.text_field :content %>
      </div>

      <div class="form-group p-2">
        <%= f.label :quantity, "商品數量" %>
        <%= f.text_field :quantity %>
      </div>

      <div class="form-group p-2">
        <%= f.label :price, "商品價格" %>
        <%= f.text_field :price %>
      </div>

      <div class="form-group p-2">
        <%= f.submit "建立商品", class:'primary-button text-xs' %>
      </div>
    <% end %>
  </div>
</div>