<h1>新增商品</h1>

<%= form_for @product, url: {action: "create"} do |f| %>
  <%= f.label :image, "商品首圖" %>
  <%= f.file_field :image, id: :product_image, class: "form-control" %><br/>
  <%= f.label :images, "更多商品圖片" %>
  <%= f.file_field :images, multiple:true, :class => "form-control" %><br/>
  <%= f.label :name, "商品名" %>
  <%= f.text_field :name %><br/>
  <%= f.label :content, "商品描述" %>
  <%= f.text_field :content %><br/>
  <%= f.label :quantity, "商品數量" %>
  <%= f.text_field :quantity %><br/>
  <%= f.label :price, "商品價格" %>
  <%= f.text_field :price %><br/>
  <!-- <div>
    <%= f.label :schedule_start, "商品上架時間" %>
    <%= f.datetime_select :schedule_start %>
  </div>
  <div>
    <%= f.label :schedule_end, "商品下架時間" %>
    <%= f.datetime_select :schedule_end %>
  </div> -->
  <div class="form-group p-2 flex items-center justify-between">
    <%= f.label :schedule_start, "優惠開始" %>
    <div class="input-group date relative" id="discount_start" data-target-input="nearest">
      <input type="text" class="form-control datetimepicker-input p-2" data-target="#discount_start" name="product[schedule_start]" value=<%= @product.schedule_start.nil? ? '' : @product.schedule_start.strftime("%Y/%m/%d") %>/>
      <div class="input-group-append absolute top-2 right-1" data-target="#discount_start" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :schedule_end, "優惠結束" %>
    <div class="input-group date relative" id="discount_end" data-target-input="nearest">
      <input type="text" class="form-control datetimepicker-input p-2" data-target="#discount_end" name="product[schedule_end]" value=<%= @product.schedule_end.nil? ? '' : @product.schedule_end.strftime("%Y/%m/%d")  %>/>
      <div class="input-group-append " data-target="#discount_end" data-toggle="datetimepicker">
        <div class="input-group-text absolute top-2 right-1"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>
  <%= f.submit "建立商品" %>
<% end %>

<%= link_to '回上頁', shops_path %>
