<div class='mt-32 shadow rounded-sm m-auto w-2/5'>
    <%= form_for @product, url: {action: 'create'} do |f| %>
  <div class='border-t text-base border-gray-200 bg-white px-8 space-y-4 py-8'>
      <div class='flex flex-row space-x-14 items-center'>
        <div class='block font-medium text-gray-700'>
          <%= f.label :image, '商品首圖' %>
        </div>
        <div class=''>
          <%= f.file_field :image, id: :product_image, class: 'form-control' %>
        </div>
      </div>

      <div class='flex flex-row space-x-6 items-center'>
        <div class='block font-medium text-gray-700'>
          <%= f.label :images, '更多商品圖片' %>
        </div>
        <div class='mt-1 text-gray-900 sm:mt-0 sm:col-span-2'>
        <%= f.file_field :images, multiple:true, class: 'form-control' %>
        </div>
      </div>

      <div class='flex flex-row space-x-12'>
        <div class='block font-medium text-gray-700'>
          <%= f.label :category_list, '商品類別' %>
        </div>
        <div class='mt-1 text-gray-900 sm:mt-0 sm:col-span-2 w-52 text-right'>
        <%= f.select :category_list, options_for_select(['電玩','書本','衣服','服務,票卷','寵物','家電影音','居家生活','模型','美食','其他']),prompt: '選擇分類',class:'w-auto' %>
        </div>
      </div>

      <div class='flex flex-row items-center space-x-12 '>
        <div class='block font-medium text-gray-700'>
          <%= f.label :name, '商品名稱' %>
        </div>
        <div class=' flex-grow'>
          <%= f.text_field :name , class: 'border border-text-200 py-1 rounded w-full' %>
          <div class='error'></div>
        </div>
      </div>

      <div class='flex flex-row items-center space-x-12'>
        <div class='block font-medium text-gray-700'>
          <%= f.label :name, '商品描述' %>
        </div>
        <div class='flex-grow'>
          <%= f.text_field :content, class: 'border border-text-200 py-1 rounded w-full' %>
          <div class='error'></div>
        </div>
      </div>

      <div class='flex flex-row items-center space-x-12'>
        <div class='block font-medium text-gray-700'>
          <%= f.label :quantity, '商品數量' %>
        </div>
        <div class='flex-grow'>
          <%= f.text_field :quantity, class: 'border border-text-200 py-1 rounded w-full' %>
          <div class='error'></div>
        </div>
      </div>

      <div class='flex flex-row items-center space-x-12'>
        <div class='block font-medium text-gray-700'>
          <%= f.label :name, '商品價格' %>
        </div>
        <div class='flex-grow'>
          <%= f.text_field :price, class: 'border border-text-200 py-1 rounded w-full' %>
          <div class='error'></div>
        </div>
      </div>

      <div class='flex flex-row  space-x-8'>
        <div class='block font-medium text-gray-700'>
          <%= f.label :schedule_end, '商品上架時間' %>
        </div>
        <div class=''>
          <input type='text' name='product[schedule_start]' class='datetimepicker_start border-b border-text-200' value=
          <%= @product.schedule_start.nil? ? '' : @product.schedule_start.strftime('%Y/%m/%d')%> >
          <i class='fa fa-calendar'></i>
        </div>
      </div>

      <div class='flex flex-row space-x-8'>
        <div class='block font-medium text-gray-700'>
          <%= f.label :schedule_end, '商品下架時間'%>
        </div>
        <div class=''>
          <input type='text' name='product[schedule_end]' class='datetimepicker_end border-b border-text-200' value=<%= @product.schedule_end.nil? ? '' : @product.schedule_end.strftime('%Y/%m/%d')%> >
          <i class='fa fa-calendar'></i>
        </div>
      </div>

      <div class='py-3 text-right '>
        <%= f.submit '建立商品', class:'text-white text-sm p-2 rounded bg-gray-500 hover:bg-gray-900 product' %>
      </div>

  </div>
    <% end %>
</div>
