<h1>新增商品</h1>

<%= notice %>
<%= form_for @product do |f| %>
  <%= f.label :name, "商品名" %>
  <%= f.text_field :name %><br/>
  <%= f.label :content, "商品描述" %>
  <%= f.text_field :content %><br/>
  <%= f.label :quantity, "商品數量" %>
  <%= f.text_field :quantity %><br/>
  <%= f.label :price, "商品價格" %>
  <%= f.text_field :price %><br/>
  <%= f.submit "建立商品" %>
<% end %>