<div class="wrap">
  <div class="img">
    <img src="https://picsum.photos/100/100/?random=1">
  </div>
  <div class="content" data-controller="addtocart" data-addtocart-id="<%= @product.id %>" data-addtocart-number-value=1 data-addtocart-coupon-value=99>
    <div class="title"><%= @product.name %></div>
    <div class="price">$<%= @product.price %></div>
    <div class="amount" >
      <div>數量</div>
      <button class="minus" data-action="click->addtocart#minusbtn">-</button>
      <input type="text" class="inputamount" data-addtocart-target="amount">
      <button class="plus" data-action="click->addtocart#plusbtn">+</button>
      <% @product.shop.coupons.each do |coupon| %>
        <div class="coupon" data-action="click->addtocart#receivecoupon" key=<%= coupon.id %> data-key=<%= coupon.id %> > <%= coupon.title %><%= coupon.id %></div>
      <% end %>
    </div>
    <button data-action="click->addtocart#add_item">加到購物車</button>
  </div>
</div>


<style>
  .taken {
    background-color: antiquewhite;
  }
</style>