<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppinggo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "shared/nav" %>

<<<<<<< HEAD
    <p class="notice"><%= notice %></p>
=======
>>>>>>> 601938dd8645ad88191889284507e5dc0c998743
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
