<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppinggo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="flex flex-row bg-gray-200 h-screen">

    <%= render "shared/sidebar" %>
    <%= render "shared/storenav" %>

    <% if notice %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
      <% if user_signed_in? %>
        <div class='chatroom'>
          <div class='chatbtn'>
            <div>
              <i class="fas fa-comments"></i>
              <h1 class='inline-block'>聊聊</h1>
            </div>

            <div class='cbtn absolute mini'>
              <i class="fas fa-caret-square-down none"></i>
            </div>
          </div>

          <div class='zone hidden flex'>
            <div class='w-4/5 h-full border-r-2' id='chatroom'>
              <p class='text-center'>開始聊天</p>
            </div>

            <div class='w-1/5 h-full flex flex-col items-center'>
              <%= set_chatrooms %>
            </div>
          </div>

        </div>
        <% end %>
  </body>
</html>