<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppinggo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="flex-row	h-screen">

    <%= render "shared/sidebar" %>
    <%= render "shared/storenav" %>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>

